<a href="https://colab.research.google.com/github/dreamjh20/Artificial-Intelligence-Study/blob/main/%EA%B8%88%EC%9A%94%EC%9D%BC%EC%97%90%EB%8A%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x, y = 0, 797
print(x, y)

0 797

In [ ]:
x = y = z = 100
print(x, y, z)

100 100 100

In [ ]:
x, y = 1, 2
print(x, y)
t = x
x = y
y = t
print(x, y)

1 2
2 1

In [ ]:
x, y = 1, 2
print(x, y)
x, y = y, x
print(x, y)

1 2
2 1

In [ ]:
print(complex(1.1, 2.2))
complex('1.23+45.6j')

(1.1+2.2j)

(1.23+45.6j)

In [ ]:
print(abs(-1))
print(abs(1))

1
1

In [ ]:
a = "Hello"
b = 10
print(a + str(b))

Hello10

In [ ]:
print("Hello, 'Python'")
print('Hello, \'Python\'')

Hello, 'Python'
Hello, 'Python'

In [ ]:
HakDong = "Study Yourself!"
print(HakDong[0])
print(HakDong[1])
print(HakDong[-1])
print(HakDong[-2])
print(HakDong[-4])

S
t
!
f

In [ ]:
print(HakDong[0:-1])
print(HakDong[0:5])
print(HakDong[0:6])
print(HakDong[0:7])
print(HakDong[5:])
print(HakDong[-5:])
print(HakDong[1:10:2])
print(len(HakDong))

Study Yourself
Study
Study
Study Y
 Yourself!
self!
td or
15

In [ ]:
h = " Python on friday "
print(h.count("y"))
print(h.upper())
print(h.lower())
print(h.strip())
print(h.replace("Python", "Java"))
print(h.find("ay"))
print(h.rfind("d"))
#FIND_FAILED
print(h.find("T"))

2
 PYTHON ON FRIDAY
 python on friday
Python on friday
 Java on friday
15
14
-1

In [ ]:
table = str.maketrans("aeiou", "12345")
'Mokpo is the best'.translate(table)

'M4kp4 3s th2 b2st'

In [ ]:
#print("Python in Friday".index('th'))
#"Python in Friday".index('yd')

In [ ]:
print("Fripy".rjust(10))
print("Fripy".center(10))
print("Fripy".ljust(10))
print("35".zfill(10))
print("3.5".zfill(10))
print("Fripy".zfill(10))

     Fripy
  Fripy
Fripy
0000000035
00000003.5
00000Fripy

In [ ]:
M = "Mokpo Suwon"
print("M" in M)
print("m" in M)

True
False

In [ ]:
x = "01::23::45::67::89::&&"
y = x.split("::")
print(y)
",".join(y)

['01', '23', '45', '67', '89', '&&']

'01,23,45,67,89,&&'

In [ ]:
x = "01::23::45::67::89::&&"
y = x.split(" ")
y

['01::23::45::67::89::&&']

In [ ]:
a = ['a', 'b', 'c', 'd', 'e']
"-".join(a)

'a-b-c-d-e'

In [ ]:
print('I love %s' %"su")
print('I am %d' %18)
print('I am %f' %18.4332123)
print("I'm from %s and MY age %d" %("mokpo", 18))
print('반갑다 나는 %s'%"수준호")
print('%.3f'%2.3)
print('%.3f'%2.3347)

I love su
I am 18
I am 18.433212
I'm from mokpo and MY age 18
반갑다 나는 수준호
2.300
2.335

In [ ]:
print('hello {lang} {ver}'.format(lang = "Java", ver=3.0))

hello Java 3.0

In [ ]:
print("{:d}".format(515))
print("{:5d}".format(515))
print("{:+5d}".format(515))
print("{:+5d}".format(-515))
print("{:=+5d}".format(515))
print("{:05d}".format(515))
print("{:+05d}".format(515))

515
  515
 +515
 -515
+ 515
00515
+0515

In [ ]:
print("{:f}".format(11.17))
print("{:12f}".format(11.17))
print("{:12.1f}".format(11.17))

11.170000
   11.170000
        11.2

In [ ]:
float('5.3')

5.3

In [ ]:
"{:=+6.2f}".format(11.17)

'+11.17'

In [ ]:
print('{0:>12.4f}'.format(1675.3))
print('{:>12.4f}'.format(1675.3))
print('{:0>12.4f}'.format(1675.3))

   1675.3000
   1675.3000
0001675.3000

In [ ]:
num = [0, 1, 2]
print(num)
print(num + [10, 11])
print(num.append(20))
print(num)
del num[1]
print(num)
num.pop(1)
print(num)
num.clear()
print(num)

[0, 1, 2]
[0, 1, 2, 10, 11]
None
[0, 1, 2, 20]
[0, 2, 20]
[0, 20]
[]

In [ ]:
t = ()
xy = (2569, 1449)
color = 129, 147, 169
print(color, xy)

(129, 147, 169) (2569, 1449)

In [ ]:
tuplea = (2,)
print(tuplea)

(2,)

In [ ]:
a = (123, "abc", True, 123)
print(a[1])
print(a[2:])
print(a[:2])
print(a.index("abc"))
print(a.index(True))
print(a.count(123))
print(a.count("abc"))8

abc
(True, 123)
(123, 'abc')
1
2
2
1

In [ ]:
a = 1, 2, 3, 3, 4, 5, 6, 7, 8, 9
print(a[0:9])
print(a[0:len(a):4])
print(a[0:100:3])
print(a[::4])

(1, 2, 3, 3, 4, 5, 6, 7, 8)
(1, 4, 8)
(1, 3, 6, 9)
(1, 4, 8)

In [ ]:
list(reversed(["happy", "birthday"]))

['birthday', 'happy']

In [ ]:
a = True
print(type(a))
print(1 == 1.0) #값 자체를 비교
print(1 is 1.0) #객체를 비교
print(1 is not 1.0) #객체를 비교

<class 'bool'>
True
False
True

In [ ]:
a = -5
print(a)
print(a is -5)

a = -6
print(a)
print(a is -6)

-5
True
-6
False

In [ ]:
print(not True)
print(not False)
print(False and False)
print(True and False)
print(False and True)
print(True or True)
print(False or False)
print(True and True)

False
True
False
False
False
True
False
True

In [ ]:
our_team=["마이콜", "문준혁", "수준호", "야수완", "이명호", "잼민준", "7", "8", "9", "10"]
print(our_team[5:9])

['잼민준', '7', '8', '9']

In [ ]:
a = 123 + 456j
a.conjugate()

(123-456j)

In [ ]:
for i in range(1, 10):
  print("2 * {} = {}".format(i, i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
for i in range(1, 10):
  print("2 * %d = %d" %(i, i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
for j in range(1, 10):
  for i in range(1, 10):
    print("%d * %d = %d" %(j, i, i*j))
  print("----------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [ ]:
echo = input()

while echo != exit:
    if(echo == "exit"):
      break
    print(echo)
    echo = input()

exit

In [ ]:
for i in range(1, 101, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in range(100, 200):
  if(i % 3 ==0):
    print(i)

102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198

In [ ]:
a = input()
a = int(a)
for i in range(2, a+1):
  if(a % i ==0):
    print("F")
    break
  else:
    print("T")
    break

10
F

In [ ]:
count = 0
for i in range(1, 101, ):
  print("2")
  count += 1
  print("3")
  count += 1
  if(i % 2 != 0):
      for j in range(3,i , 2):
        if(i % j == 0):
          break
        if(j == i - 2):
          print(i)
          count += 1

print(count)

2
3
2
3
2
3
2
3
2
3
5
2
3
2
3
7
2
3
2
3
2
3
2
3
11
2
3
2
3
13
2
3
2
3
2
3
2
3
17
2
3
2
3
19
2
3
2
3
2
3
2
3
23
2
3
2
3
2
3
2
3
2
3
2
3
29
2
3
2
3
31
2
3
2
3
2
3
2
3
2
3
2
3
37
2
3
2
3
2
3
2
3
41
2
3
2
3
43
2
3
2
3
2
3
2
3
47
2
3
2
3
2
3
2
3
2
3
2
3
53
2
3
2
3
2
3
2
3
2
3
2
3
59
2
3
2
3
61
2
3
2
3
2
3
2
3
2
3
2
3
67
2
3
2
3
2
3
2
3
71
2
3
2
3
73
2
3
2
3
2
3
2
3
2
3
2
3
79
2
3
2
3
2
3
2
3
83
2
3
2
3
2
3
2
3
2
3
2
3
89
2
3
2
3
2
3
2
3
2
3
2
3
2
3
2
3
97
2
3
2
3
2
3
223

In [ ]:
print("단락회로평가, 마지막 값 반환")
print(True and 'Python')
print(False and 'Python')
print(0 and 'Python')
print(1 and 'Python')
print(True or 'Python')
print('Python' or True)
print(False or 'Python')
print(0 or 'Python')
print(1 or 'Python')

단락회로평가, 마지막 값 반환
Python
False
0
Python
True
Python
Python
Python
1

In [ ]:
a = int(input())
print(a)

#a = input()
#a = int(a)
if(a == 1):
  print("*")
elif(a == 2):
  print("**")
else:
  print("***")

29
29
***

In [ ]:
arr = []
for i in range(1, 10, 2):
  arr.append(i)
for i in range(0, len(arr), 1):
  print(arr[i])

array = [i for i in range(1, 10, 2)]
array2 = [i for i in range(1, 10, 2) if(i > 40)]

1
3
5
7
9

In [ ]:
r1 = [1, 2, 3, 4, 5]
r2 = []
for i in r1:
  if i%2:
    r2.append(i*2)

r2

[2, 6, 10]

In [ ]:
r1 = [1, 2, 3, 4, 5]
r2 = [i*2 for i in r1 if(i%2)]
r2

[2, 6, 10]

In [ ]:
a = {i for i in 'apple'}
print(a)

b = {i for i in 'pineapple' if i not in 'apl'}
print(b)

{'p', 'l', 'e', 'a'}
{'i', 'n', 'e'}

In [ ]:
for dan in range(2, 10, 1):
  for i in range(1, 10):
    print("{} X {} = {}".format(dan, i, dan*i))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
#소수 판별
n = int(input())
count = 0
for x in range(1, n+1):
  if n % x == 0:
    count = count + 1

    if count == 2:
      print("소수")
      
    else:
      print("소수 아님")

19
소수 아님
소수

In [ ]:
sum = 0
for n in range(1, 100+1):
  count = 0
  for x in range(1, n+1):
    if n % x == 0:
      count = count + 1
    if count == 2:
      sum = sum + 1

print(sum)

657

In [ ]:
r1 = [1, 2, 3, 4, 5]
r2 = [i for i in r1 if(i%2)]
r2

[1, 3, 5]

In [ ]:
n = 3
n = str(n)
print(type(n))

<class 'str'>

In [ ]:
import random

n = random.randint(1, 10)
print(n)

10

In [ ]:
def roll():
  n = random.randint(1, 10)
  print(n)

roll();
roll();
roll();

9
9
2

In [ ]:
def starprint(n):
  i = 0
  while i < n:
    print("*")
    i = i + 1

def star():
  starprint(5)
  print("\n")

star()
star()

*
*
*
*
*


*
*
*
*
*

In [ ]:
import random

def roll(pip):
	n = random.randint(1, pip)
	print(pip, n)
 
 
roll(6)

6 1

In [ ]:
import random

def roll(pip, re):
  for r in range(1, re+1):
    n = random.randint(1, pip)
    print(pip, r, n)
  
 
roll(6, 7)

6 1 1
6 2 6
6 3 1
6 4 2
6 5 3
6 6 3
6 7 4

In [ ]:
def n(*Names):
  for name in Names:
    print("%s%s" % (name[0], name[1:3]), end =' ')
  print("\n")

n('문준혁')
n('문준혁', '강은빈')

문준혁

문준혁 강은빈

In [ ]:
#시험

ㄱ, b = input("입력").split()
print(b)
print(ㄱ)

입력문 강
강
문

In [ ]:
a, b = input("입력해").split('-')
print(b, a)

입력해010-4576
4576 010

In [ ]:
a, b = input('숫자 입력해').split()
#a = int(a)
#b = int(b)
#print(a+b)
print(int(a) + int(b))

숫자 입력해20 30
50

In [ ]:
#중요
a, b = map(int, input('입력: ').split())
print(a + b)

입력: 2 3
5

In [ ]:
def star(N, *args):
  for i in range(1, 1+len(args)):
    print(N * i)
star("A", 3)
star("B", 1, 2, 3)

A
B
BB
BBB

In [ ]:
r1 = ['a', 'b']
r2 = ['c', 'd', 'e']
r3 = ['f', 'g', 'h', 'i']
r4 = [i+j+k for i in r1 for j in r2 for k in r3]
r4

In [ ]:
array = []
for i in range(3, 10, 2):
  for j in range(1, 10, 2):
    array.append(i*j)
print(array)

[3, 9, 15, 21, 27, 5, 15, 25, 35, 45, 7, 21, 35, 49, 63, 9, 27, 45, 63, 81]

In [ ]:
array = [i * j for i in range(3, 10, 2) for j in range(1, 10, 2)]
print(array)

[3, 9, 15, 21, 27, 5, 15, 25, 35, 45, 7, 21, 35, 49, 63, 9, 27, 45, 63, 81]

In [ ]:
def personal_info(name, age, address):
  print('이름', name)
  print('나이', age)
  print('주소', address)

In [ ]:
x = {'name': '문준혁', 'age':'18', 'address':'목포'}

In [ ]:
def hello(msg = '반갑다'):
  print(msg)

hello()
hello('앙냥')

반갑다
앙냥

In [ ]:
def fn(a, b = []):
  b.append(a)
  print(b)

fn(3)
fn(5)

[3]
[3, 5]

In [ ]:
def div_name(name):
  return name[0], name[1:len(name)]

print(div_name("문준혁"))

('문', '준혁')

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)
 
print(factorial(5))

120

In [ ]:
def fac(n):
  if n <= 1:
    return 1
  else:
    return n * fac(n-1)

print(fac(3))

6

In [ ]:
word = input('단어를 입력하세요: ')

is_palindrome = True
for i in range(len(word) // 2):
  if word[i] != word[-1 -i]:
    is_palindrome = False
    break

print(is_palindrome)

단어를 입력하세요: lesl
False

In [ ]:
def nachi(pi):
  if pi == 0:
    return 0
  elif pi == 1:
    return 1
  else:
    return nachi(pi-1) + nachi(pi-2)


p = int(input('몇 번째 피보나치 수: '))
print(nachi(p))

몇 번째 피보나치 수: 3
2

In [ ]:
def fct_fac(n):
  def exp(x):
    return x**n
  return exp

print(fct_fac(2))
print(fct_fac(3))

<function fct_fac.<locals>.exp at 0x7f78762275f0>
<function fct_fac.<locals>.exp at 0x7f7876227f80>

In [ ]:
x = 10
def foo():
  global x
  x = 20
  print(x)

foo()
print(x)

20
20

In [ ]:
def fn(a, b=[]):
  b.append(a)
  print(b)

print(fn(3))
print(fn(10))

[3]
None
[3, 10]
None

In [ ]:
#기말
def gugudan2(start, end):
  for i in range(start, end+1):
    for j in range(1, 10):
      print(i, "x", j, "=", i*j)

gugudan2(2, 4)

In [ ]:
def gugudan3(*dans):
  for dan in dans:
    for j in range(1, 10):
      print(dan, "x", j, "=", dan*j)

gugudan3(2, 3, 7)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
def circle_area(r):
  return 3.141592 * (r/2) * (r/2)

print(circle_area(10))

78.5398

In [ ]:
def sum_avg( *a ):
  return (sum(a), sum(a)/len(a) )

print(sum_avg(1, 2, 3))

(6, 2.0)

In [ ]:
def prime(start, end):
  result = []
  for i in range(start, end):
    flag = True
    for j in range(2, i):
      if i % j == 0:
        flag = False
        break

    if flag:
      result.append(i)
  return result

#print(prime(1,100))

In [ ]:
def login(id, pw):
  if(id == 'scott' and pw == 'tiger'):
    return True
  else:
    return False

print(login('admin','1234'))

TypeError: ignored

In [ ]:
def wc(chars):
  count = 0
  for char in chars:
    if(char == ' ' or char == '\t' or char == '\n'):
      continue
    count = count + 1
  return count

string"안녕? 난 준혁이야\n만나서\t반가워"
print(wc(string))

SyntaxError: ignored

In [ ]:
def wc2(chars):
  work = 0
  char = 0
  blank = 0
  flag = False
  
  for char in chars:
    if char == ' ' or char == '\t' or char == '\n':
      blank = blank + 1

In [ ]:
class Car:
  def __init__(self, type, speed):
    self.type = type
    self.speed = speed

  def move(self):
    print(self.type + "가" +str(self.speed) + "속도로 움직입니다.")

  def speed_up(self, amount):
    self.speed += amount

  def speed_down(self, amount):
    self.speed -= amount

c = Car("스포츠카", 100)
c.speed_up(10)
c.move()

스포츠카가111속도로 움직입니다.

In [ ]:
class Card:
  def __init__(self, number, kind):
    if 0 < number, kind):
      self.number = number
    else:
      print("잘못된 숫자 값입니다.")

    if kind == "heart" or kind == "diamond" or kind == "club" or kind == "spade":
      self.kind = kind
    else:
      print("알 수 없습니다.")

In [ ]:
class Card:
  def __init__(self, number, kind):
    if 0 < number < 14:
      self.number = number
    else:
      print("잘못된 숫자 값입니다.")

    if kind == "heart" or kind == "diamond" or kind == "club" or kind == "spade":
      self.kind = kind
    else:
      print("잘못된 문양 값입니다.")

C = Card(1, "spade")

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def eat(self, food):
    print(self.name + food + "먹는다.")

class Employee(Person):
  def __init__(self, name, age, salary):
    super().__init__(name, age) #super 로 상위 클래스 접근
    self.salary = salary
  def work(self):
    print("일을 합니다.")
  def get_salary(self):
    print("돈받는다")
    return self.salary

e = Employee("철수", 19, 100)
e.eat("고기")
e.work()
r = e.get_salary()
print("받은 돈은" + str(r) +"만 원입니다.")

철수고기먹는다.
일을 합니다.
돈받는다
받은 돈은100만 원입니다.

In [ ]:
class Animal:
  def __init__(self, name, sex):
    self.name = name
    self.sex = sex

  def eat(self, food):
    print(self.name + food + "먹는다.")
  def Sex(self):
    print(self.sex + "이다.")


  class Cat(Animal):
    def __init__(self, name, sex, sound):
      super().__init__(name, age)
      self.sound = sound
    def bark(self):
       print(self.sound +"소리로 짖습니다.")

CC = Animal("한준호", "남")
CC.eat("수고기")

한준호수고기먹는다.

In [ ]:
class Animal:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def eat(self):
    print("쩝")

class Dog(Animal):
  def __init__(self, name, age):
    super().__init__(name, age)
    
  def bark(self):
    print("컹")

  class Cat(Animal):
    def __init__(self, name, age):
      super().__init__(name, age)

    def bark(self):
      print("옹")

A = Animal("붉머왕", 1)
A.eat()

쩝

AttributeError: ignored

In [ ]:
# __getitem__    __len__    __str__
class Person:
  def __init__(self, name, age, height):
    self.name = name
    self.age = age
    self.height = height

  def __str__(self):
    return "Person" + "이름은" +self.name + "키는" + str(self.height)
  def __len__(self):
    return self.height

  def __getitem__(self, key):
    if key == "name":
      return self.name
    if key == "age":
      return self.age
    return None

L = Person("이게하", 18, 164)
print(L)
print(len(L))
print(L['age'])
print(L['unknown'])

Person이름은이게하키는164
164
18
None

In [ ]:
print('{0:<10}'.format('py'))
print('{0:>10}'.format('py'))
print('{:>10}'.format('py'))

py
        py
        py

In [ ]:
print("{:f}".format(11.17))
print("{:12f}".format(11.17))
print("{:12.1f}".format(11.17))

11.170000
   11.170000
        11.2

In [ ]:
num = [0, 1, 2, 5, 4]
num.sort()

In [ ]:
#모듈     if __name__ == '__main__':

def area(w, h):
  return w * h

def main():
  print(area(3, 5))

if __name__ == '__main__':
  main()

15

In [ ]:
#Palindrome
word = input("입력하슈: ")

is_palidrome = True
for i in range(len(word) // 2):
  if word[i] != word[-1-i]:
    is_palidrome = False
    break
print(is_palidrome)

입력하슈: rnr
True

In [ ]:
word = input("입력하슈: ")

def is_pal(word):
  if len(word) < 2:
    return True
  if word[0] != word[-1]:
    return False
  return is_pal(word[1:-1])

print(is_pal(word))

입력하슈: rur
True

In [ ]:
def show(s):
  print(s)

ref = show
ref('Moon')

Moon

In [ ]:
#Programmers 예산
def solution(d, budget):
    answer = 0
    use_money = 0
    
    sorted_d = sorted(d)
    
    for money in sorted_d:
        use_money += money
        if budget < use_money:
            break
        answer += 1
    
    return answer